PORT=4500
API_KEY=
API_KEY2=
API_KEY3=
SECRETORPRIVATEKEY=1234567890
EMAIL_USER=respuestasnum@gmail.com
EMAIL_PASS=uaylhepohaicecyx
ADMIN_SECRET_KEY=Sena2026*Migue
MONGO_URI=mongodb://localhost:27017/numerologia
RESEND_API_KEY=

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:4500